 {% extends 'home.html' %}
 {% block main %}
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e2.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Algolia</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">Algolia is an event of competitive programming for individuals. There are 2 levels in total. The first level has 3 questions of medium difficulty and the second level has 2 questions of hard difficulty. Each level has a 45 minutes time limit. Winners will be selected according to the efficiency and correctness of the submitted code.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Mahesh &nbsp;&nbsp;+91 6369 624 885</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Aravind  &nbsp;+91 97910 26856</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-solo.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">Individuals can participate. 
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">Each candidate must have their college identity card .</a></li>
                                    <li><span class="date">3</span><a href="#">Each registered candidate should have a HackerRank account. https://www.hackerrank.com
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Candidates should attend only using their registered email account.</a></li>
                                    <li><span class="date">5</span><a href="#">Registered candidates will get a Google meet link before the contest and the whole session will be spectated through it.
                                    </a></li>
                                    <li><span class="date">6</span><a href="#">Please ensure that the registered mail id and HackerRank account are the same.
                                    </a></li>
                                    <li><span class="date">7</span><a href="#">Plagiarism is strictly not allowed.
                                    </a></li>
                                    <li><span class="date">8</span><a href="#">Submission should be within the given time. 
                                    </a></li>
                                    <li><span class="date">9</span><a href="#">Candidates will be disqualified if they are involved in any malicious activity during any stage of the contest.
                                    </a></li>
                                    <li><span class="date">10</span><a href="#">If two candidates come up with the same solution, the submission time will be considered.
                                    </a></li>
                                    <li><span class="date">11</span><a href="#">Certificates will be provided for all the participants. 
                                    </a></li>
                                    <li><span class="date">12</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}