{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e14.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Call Of Duty</h1>
                                    <tag>(Offline) </tag>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">Revenge is like a ghost. It takes over every man it touches. Its thirst cannot be quenched. Until the last man standing has fallen. Battles are won by slaughter and maneuver. The greater the general, the more he contributes in maneuver, the less he demands in slaughter.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Sanjay &nbsp;+91 9952022865 </span>
                                        
                                        
                                    </address>
                                </div>

                                <div class="widget mt-0">
                                    <h5>Payment Info (gpay/paytm)</h5>
                                    <address class="s1">

                                        <span><i class="id-color fa fa-phone fa-lg"></i>Sanjay &nbsp;+91 9952022865 </span>
                                        
                                    </address>
                                </div>

                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="/reg_cod.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" style="border-radius: 50px 15px;" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>      
                                    
                                    <li><span class="date">1</span><a href="#">Entry fee per team : 150 .
                                    </a></li>                      
                                    
                                    <li><span class="date">2</span><a href="#"> Kindly contact the Coordinators before making the payment. 
                                    </a></li>          
                                    <li><span class="date">3</span><a href="#">Participants are allowed to play only on their MOBILE PHONES. No other devices like laptop ,tablet or PC  will be allowed .
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Participants can register as team of 3 .
                                    </a></li>
                                    <li><span class="date">5</span><a href="#">Participants must have downloaded all the necessary requirements like maps and resources before coming to the arena.</a>
                                        <a>MODES : 
                                        Hardpoint , Search and destroy.</a>
                            
                                        <a>MAPS:
                                        Firing range , Nuke town , Crash , terminal.</a></li>
                                        
                                        
                                    <li><span class="date">6</span><a href="#">Participants need to make sure their internet connection is proper.
                                        
                                      
                                    </a></li>
                                    
                                    <li><span class="date">7</span><a href="#">If any participants involved in any cheating, their team will be disqualified on the spot .
                                    </a></li>
                                    <li><span class="date">8</span><a href="#">Matches will be conducted in multiplayer mode not in Battle Royale mode. (BR mode)

                                    </a></li>
                                    <li><span class="date">9</span><a href="#">At any cost, refund will not  be provided if any of the teammates are not available.
                                        

                                    </a></li>
                                    <li><span class="date">10</span><a href="#">
                                      Matches will not be delayed for any particular team at any cost.
                                    </a></li>

                                    <li><span class="date">11</span><a href="#"> 
                                        Breakage of any property of host is finable!
                                    </a></li>
                                    <li><span class="date">12</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>

                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
{% endblock %}