{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e5.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Code Hunt</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">The code hunt basically involves decrypting the encrypted codes. Here the
                                        participants will be given a set of clues which are to be solved to reach the successive
                                        levels.The clues will be in the form of debugging the code or in the form of solving the
                                        riddle. The team will be given a fixed limit of time for solving their respective clues
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i> Pranesh &nbsp; +91 93607 45661</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i> Arjun &nbsp;+91 73582 96644</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-team.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">A team is allowed a maximum of two members.
                                        
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">The participants are requested to carry their laptops and other devices that are
                                        required.
                                    </a></li>
                                    <li><span class="date">3</span><a href="#">The teams that find the clues within the given time moves to the next level.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Candidates will be disqualified if they are involved in any malicious activity
                                        during any stage of the contest.

                                    </a></li>
                                    <li><span class="date">5</span><a href="#">
                                        Certificates will be provided for all the participants.
                                    </a></li>
                                    <li><span class="date">6</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}