{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e6.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Connexions</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">!!challenge your eyes and imagination!!
                                        Connexion is an image based connectivity game. It's upto you to figure out the link between pictures and match them to move on to next level. It isn’t about WHAT you think, but HOW you think. It is a game which shots out your work, over a knowledge to bring out your connecting ability through the game of connexion. It consists of 4 levels- Joint family, ice boy, brain train, pancha thandhiram. Come as TWO, guess using CLUE, win among the CREW.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Jeff Samuel &nbsp;+91 86678 28740</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Dhanush  &nbsp;+91 93454 92861</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-team.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">Participants should be a team of 2.
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">Each level will have a time limit.
                                    </a></li>
                                    <li><span class="date">3</span><a href="#">Based on the points scored the participants will be qualified to final level.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Certificates will be provided for all the participants. 
                                    </a></li>
                                    <li><span class="date">5</span><a href="#">The best connectors will be rewarded with exiciting prizes.

                                    </a></li>
                                    <li><span class="date">6</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}