{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">

            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e10.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Fifa</h1>
                                    <tag>(Offline) </tag>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">FIFA brings the WORLD’s game to console. Wanna prove you’re the best at FIFA? Then this is a stage where you get to showcase your skills with the joystick in the game of FIFA and a chance to compete against the best to prove that you’re the best of the best at FIFA.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Kaushik Vishal  &nbsp;+91 73584 72065</span> 
                                        
                                        
                                    </address>
                                </div>

                                <div class="widget mt-0">
                                    <h5>Payment Info (gpay/paytm)</h5>
                                    <address class="s1">

                                        <span><i class="id-color fa fa-phone fa-lg"></i>Kaushik Vishal &nbsp;+91  73584 72065  </span>
                                        
                                    </address>
                                </div>

                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-fifa.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>      
                                    <li><span class="date">1</span><a href="#">Entry fee is Rs.60 per person.
                                    </a></li>                      
                                    
                                    <li><span class="date">2</span><a href="#"> Kindly contact the Coordinators before making the payment. 
                                    </a></li>          
                                    <li><span class="date">3</span><a href="#">This is a TEAM (of 2) event conducted on a KNOCKOUT basis.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Participants without a team member will be paired up by the organizers.
                                    </a></li>
                                    <li><span class="date">5</span><a href="#">8 minutes per game (4 mins per half)
                                    </a></li>
                                    <li><span class="date">6</span><a href="#">Participants must bring their own JOYSTICKS.
                                    </a></li>
                                    <li><span class="date">7</span><a href="#">No SETTINGS shall be changed.
                                    </a></li>
                                    <li><span class="date">8</span><a href="#">	In case of tiebreakers, the match will proceed to penalties..
                                    </a></li>
                                    <li><span class="date">9</span><a href="#">EVENT WILL NOT BE DELAYED for any particular participant at any cost.

                                    </a></li>
                                    <li><span class="date">10</span><a href="#">Participants who are found disobeying the rules will be DISQUALIFIED.

                                    </a></li>
                                    <li><span class="date">11</span><a href="#">
                                        Certificates will be provided for all the participants.
                                    </a></li>

                                    <li><span class="date">12</span><a href="#"> 
                                        Breakage of any property of host is finable!
                                    </a></li>
                                    <li><span class="date">13</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>

                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

{% endblock %}