{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(staic/images/e11.png) bottom">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
                                    <h1>GAMING</h1>
									<h1>EVENTS</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row g-custom-x">
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item" style="box-shadow:0px 0px 5px 5px #e50000;">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <a href="fifa.html"><span class="d-image-wrap"><img alt="" src="static/images/10.png" class="lazy"></span></a>
                                            <span class="d-date">
                                                <!-- <span class="d-mm">Nov</span> -->
                                                <span class="d-dd">01</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="fifa.html"><h4>FIFA</h4></a>
                                            <p>Wanna prove you’re the best at FIFA?</p>       
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item" style="box-shadow:0px 0px 5px 5px #e50000;">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <a href="valorant.html"><span class="d-image-wrap"><img alt="" src="static/images/12.png" class="lazy"></span></a>
                                            <span class="d-date">
                                                <!-- <span class="d-mm">Dec</span> -->
                                                <span class="d-dd">02</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="valorant.html"><h4>VALORANT</h4></a>
                                            <p>Connect. Compete. Become Champions</p>       
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item" style="box-shadow:0px 0px 5px 5px #e50000;">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <a href="cod.html"><span class="d-image-wrap"><img alt="" src="static/images/11.png" class="lazy"></span></a>
                                            <span class="d-date">
                                                <!-- <span class="d-mm">Dec</span> -->
                                                <span class="d-dd">03</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="cod.html"><h4>CALL OF DUTY</h4></a>
                                            <p>There are things worth fighting for!</p>       
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <!-- <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/4.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Jan</span> -->
                                                <!-- <span class="d-dd">04</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>SHARK TANK</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>       
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        
                        <!-- <div class="col-lg-4 col-md-6 mb20">
                        <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/5.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Jan</span>
                                                <span class="d-dd">05</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>SKETCH2SCREEN</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        
                        <!-- <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/6.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Feb</span> -->
                                                <!-- <span class="d-dd">06</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>CONNEXIONS</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>       
                                        </div>
                                    </div>
                                </div>
                        </div> -->

                        <!-- <div class="spacer-single"></div> -->
                                
                        <!-- <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                            </li>
                          </ul>
                        </nav> -->
                        <!-- <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/7.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Jan</span> -->
                                                <!-- <span class="d-dd">07</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>GEEK SPEAK</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>       
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        
                        <!-- <div class="col-lg-4 col-md-6 mb20">
                        <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/8.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Jan</span> -->
                                                <!-- <span class="d-dd">08</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>VALGAZZA</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        
                        <!-- <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                    <div class="d-content">
                                        <div class="d-image">
                                            <span class="d-image-wrap"><img alt="" src="images/9.png" class="lazy"></span>
                                            <span class="d-date"> -->
                                                <!-- <span class="d-mm">Feb</span> -->
                                                <!-- <span class="d-dd">08</span>
                                            </span>
                                        </div>
                                        <div class="d-text">                                            
                                            <a href="event-tagline-single.html"><h4>TECHTONIC</h4></a>
                                            <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur consequat...</p>       
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                        
                    </div>
                </div>
            </section>

        </div>

{% endblock %}