{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/e7.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1 >GEEKSPEAK</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">The event provides you a platform in the name of GEEKSPEAK to unleash your talent by means of presenting a research document.  Visual aids such as PowerPoint slides or handouts are used to support the presentation and showcase your ideas in front of esteemed panel of Judges.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Sri Vignesh &nbsp;+91 84383 57790</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Anirudh  &nbsp;+91 98840 74509</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-team.html">

                                            

                                       <p id="btnsubmit"><input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">Fill in all the requested details in the Google form link provided :
                                        https://forms.gle/gyrBG8gj1Nma864XA
                                  
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">A maximum of 2 participants or individual participants per paper is allowed.</a></li>
                                    <li><span class="date">3</span><a href="#">Choose a Topic on the given Theme: "A Journey Through the History of Computing".</a></li>
                                    <li><span class="date">4</span><a href="#">Participants must send their presentation to kranti2k23@gmail.com before the event.</a></li>
                                    <li><span class="date">5</span><a href="#">Participants can attend the event only if the soft copies are submitted before the event.</a></li>
                                    <li><span class="date">6</span><a href="#">During the event, the participants are given 8 minutes to present their
                                        paper and 2 minutes for queries.
                                        </a></li>
                                    <li><span class="date">7</span><a href="#">Certificates will be provided for the participants.</a></li>
                                    <li><span class="date">8</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                    
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>

{% endblock %}