{% extends 'home.html' %}
{% block main %}
            <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e8.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Photomania</h1>
                                    <tag>(Online
                                        )
                                    </tag>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">Want to expose your photography skills? Ready to expand your photography fan base?? Participate in our amazing Photomania contest and send your works on the theme of “Human Portraits”. Enjoy the moment of capturing in an online photography event. Share your photos with a wider audience. Also, explore the world of photogenic art of your fellow contestants. So get ready with your cameras to make a beautiful shot!!

                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i> Ashish  &nbsp;+91 89395 60548</span>
                                       
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-solo.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">Send your photograph to kranti2k23@gmail.com

                                    </a></li>
                                    <li><span class="date">2</span><a href="#">Single submission is only accepted per participant.

                                    </a></li>
                                    <li><span class="date">3</span><a href="#">Mail must include your full name, college name, department details, and caption for submission.

                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Rename your file with your insta id.


                                    </a></li>
                                    <li><span class="date">5</span><a href="#">Works should be submitted before: 20th March 2023.


                                    </a></li>
                                    <li><span class="date">6</span><a href="#">Entries with plagiarism,  offensive or inappropriate content will be disqualified. 

                                    </a></li>
                                    <li><span class="date">7</span><a href="#">Photographs must not have any signatures, logos, or watermarks. 

                                    </a></li>
                                    <li><span class="date">8</span><a href="#">Winners will be selected based on the jury’s decision. 

                                    </a></li>
                                    <li><span class="date">9</span><a href="#">Submissions will be displayed on our Insta page: @kranti2k23

                                    </a></li>
                                    <li><span class="date">10</span><a href="#">Follow our Insta page @kranti2k23 for further updates on the contest.
                                    </a></li>
                                    <li><span class="date">11</span><a href="#">
                                        Certificates will be provided for all the participants.
                                    
                                    </a></li>
                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
        
{% endblock %}