{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e3.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Sketch 2 Screen</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">Do you possess the skills necessary to design stunning UI that users will adore? If so, we have a contest for you! Our UI/UX design competition is the pinnacle of originality and ingenuity. We're looking for the most talented designers to enter their most stunning creations, which must not only be beautiful to look at but also simple to use and navigate. Are you prepared to accept the task and demonstrate your design abilities to the world? Participate in the contest right away and use your creativity.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Jerrinth Raj &nbsp;+91 8925264601</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i>JagathGuru  &nbsp;+91 6382794726</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-solo.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">This is an individual competition.
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">Figma platform will be made available to participants for designing.</a></li>
                                    <li><span class="date">3</span><a href="#">To create on the assigned topic, 75 minutes (with a 15-minute break in between) will be allotted.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Plagiarism is not advised and malpractice is completely forbidden.</a></li>
                                    <li><span class="date">5</span><a href="#">Certificates will be awarded to all the participants.</a></li>
                                    <li><span class="date">6</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                    
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
{% endblock %}