{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e1.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Shark Tank</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">Shark Tank is a competition for college students to pitch their business ideas to a panel of experts. The competition includes 2 rounds: Preliminary and Final. In the preliminary round, participants present their product/service and receive feedback. In the final round, shortlisted candidates pitch a hypothetical product(from the organizers) with a personal twist. The sharks choose to invest or not by showing a green or red flag after each pitch.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i> Vishal &nbsp;+91 8939888646</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i> Syed Reyhaan &nbsp;+91 95661 64752</span>
                                    </address>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-team.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>                                    
                                    <li><span class="date">1</span><a href="#">The Product/Service is required to be tech-related.
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">A team is allowed a maximum of two members</a></li>
                                    <li><span class="date">3</span><a href="#">Participants can use supporting attachments such as PPT’s are recommended, not mandatory, can consist of a maximum of 5 slides.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">The pitched idea or concept must be the original work of the team.</a></li>
                                    <li><span class="date">5</span><a href="#">Participants are requested to conclude their presentation within 5 to 10 minutes.</a></li>
                                    <li><span class="date">6</span><a href="#">Certificates wil be provided for all the participants </a></li>  
                                    <li><span class="date">7</span><a href="#">If slots are available, you can also register on the day of the event.</a></li>  
                                    
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->
{% endblock %}