{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e9.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>TechTonic</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
                                    

                                    <blockquote style="text-shadow: 2px 2px #e50000;">TechTonic aims at learning about Android development and current technologies. During the workshop, participants will have access to engaging hands-on project. At the end of the workshop, participants will have a basic understanding of Android development, including how to create user interfaces, add functionality, test and debug their apps. </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">

                                        <span><i class="id-color fa fa-phone fa-lg"></i>Manvith  &nbsp;+91 7338798127</span>
                                        <span><i class="id-color fa fa-phone fa-lg"></i>Vishwa   &nbsp;+91 9150672249</span>
                                    </address>
                                </div>
                                <div class="widget mt-0">
                                    <h5>Payment Info (gpay/paytm)</h5>
                                    <address class="s1">

                                        <span><i class="id-color fa fa-phone fa-lg"></i>Manvith  &nbsp;+91 7338798127</span>
                                        
                                    </address>
                                </div>
                                <h2>TOPIC:</h2>
                                    <h3>Visualisation of Future Tech</h3>
                                    <h3>Hands on Training on Android Development</h3>
                                <h2>SPEAKER:</h2>
                                    <h3>Vignesh Nandhakumar
                                    </h3>
                                    <h3>Software Developer,
                                    </h3>
                                    <h3>Amazon</h3>
                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg-solo.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>    
                                    <li><span class="date">1</span><a href="#">Entry fee per person is Rs 150. 
                                    </a></li>
                                    <li><span class="date">2</span><a href="#">Kindly contact the Coordinators before making the payment. 
                                    </a></li>                                
                                    <li><span class="date">3</span><a href="#">The last day for registering for the workshop  will be on 22nd of March.
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Certificates will be provided to the participants .

                                    </a></li>
                                    <li><span class="date">5</span><a href="#">The workshop can be attended if the payment is being made via Gpay or Paytm to 7338798127.

                                    </a></li>
                                    <li><span class="date">6</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                    
                                </ul>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}