{% extends 'home.html' %}
{% block main %}
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(static/images/e4.png) top">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1>Valorant</h1>
                                    <tag>(Online)</tag>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <div class="post-text">
       <h2 style="text-shadow: 2px 2px #e50000;">Connect. Compete. Become Champions.</h2>                             
<!-- <h2>Connect</h2>
<h2>Compete</h2>
<h2>Become Champions.</h2> -->
                                    <blockquote style="text-shadow: 2px 2px #e50000;">This event is a playground to showcase your creative thinking. Purpose-built for team strategies, spectacular plays, and clutch moments. Make the play, others will imitate for years to come.
                                    </blockquote>

                                    

                                </div>
                                <div class="widget mt-0">
                                    <h5>Contact Info</h5>
                                    <address class="s1">
                                        
                                        <span><i class="id-color fa fa-phone fa-lg"></i>M.S.Subaram +91 9952678560 </span>
                                        
                                    </address>
                                </div>
                                <div class="widget mt-0">
                                    <h5>Payment Info (gpay/paytm)</h5>
                                    <address class="s1">

                                        <span><i class="id-color fa fa-phone fa-lg"></i>M.S.Subaram +91 9952678560 </span>
                                        
                                    </address>
                                </div>

                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                

                                <div class="spacer-single"></div>

                                <div id="comment-form-wrapper">
                                    
                                    <div class="comment_form_holder ">
                                        <form id="contact_form" name="form1" class="form-border" method="get" action="reg_valo.html">

                                            

                                            <p id="btnsubmit">
                                                <input type="submit" id="send" value="Register" class="btn btn-main" /></p>



                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                           
                            <div class="de-box widget widget-post">
                                <h4>Rules And Guidelines</h4>
                                <div class="small-border"></div>
                                <ul>  
                                    <li><span class="date">1</span><a href="#">Entry fee for a team : Rs.250 
                                        
                                    </a></li>        
                                    
                                    <li><span class="date">2</span><a href="#"> Kindly contact the Coordinators before making the payment. 
                                    </a></li>                            
                                    <li><span class="date">3</span><a href="#">Team Size: 

                                        A complete roster for the tournament requires a total of five players per team.
                                        
                                        
                                    </a></li>
                                    <li><span class="date">4</span><a href="#">Eligibility:

                                        All ranks are welcome and eligible to participate in the tournament.
                                        
                                    </a></li>
                                    <li><span class="date">5</span><a href="#">Tournament Format : 

                                        The Tournament will be conducted on a knockout basis.
                                        
                                    </a></li>
                                    <li><span class="date">6</span><a href="#">Match Settings:

                                        The tournament organizers will determine the map that will be played during each match.Each team will be given the opportunity to select their preferred role as either attacker or defender before the match begins.
                                        
                                        

                                    </a></li>
                                    <li><span class="date">7</span><a href="#">Code of Conduct:

                                        Matches will begin promptly at the scheduled start time without any delays.
                                        Use of abusive language is prohibited both in-game and on the discord server.
                                        Behaving in a professional way is encouraged. 
                                        

                                    </a></li>
                                    <li><span class="date">8</span><a href="#">Communication: 

                                        We establish communication channels for teams to communicate with tournament officials and each other. Any kind of doubts or queries will be discussed on Discord.
                                        
                                    </a></li>
                                    <li><span class="date">9</span><a href="#">Certificates will be provided for all the participants. 
                                    </a></li>
                                    <li><span class="date">10</span><a href="#">If slots are available, you can also register on the day of the event.
                                    </a></li>
                                </ul>
                            </div>

                            
                            
                        </div>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}